- if current_user
  %h3= "Hi, #{current_user.username}!"

#view-token
  = link_to "Click here to see your token", show_chat_token_path

%br
%ul
  - if current_user
    %li= link_to "Click here to edit your account", edit_user_registration_path
    %li= link_to "Click here to logout", destroy_user_session_path, method: 'delete'
  - else
    %li= link_to "Click here to sign up", new_user_registration_path
